#tables {
    background-color: blue;
    color: white;
}
#reserve {
    background-color: red;
    color: white;
}
#uppertext {
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
}
#lowertext {
    text-align: center;
    font-size: 25px;
}
.btn-primary1 {
    margin-left: 625px;
}